.feedback-form {
  background: linear-gradient(139deg, $color-сerulean 34%, $color-deep-sky-blue 34%);
  background-size: cover;

  @include vp-1439 {
    background: linear-gradient(139deg, $color-deep-sky-blue 34%, $color-deep-sky-blue 34%);
  }
}

.feedback-form__inner {
  width: 1260px;
  padding: 167px 0 247px;
  margin: 0 auto;

  @include vp-1439 {
    width: auto;
  }

  @include vp-1023 {
    padding-top: 45px;
    padding-bottom: 123px;
  }

  @include vp-768 {
    padding-top: 45px;
    padding-bottom: 88px;
  }
}

.feedback-form__form {
  color: $color-default-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 615px;
  margin-left: auto;
  position: relative;

  h3 {
    margin: 0;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  p {
    font-family: "PT Mono", sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 37px;
  }

  input {
    color: $color-default-white;
    font-family: "PT Mono", sans-serif;
    width: 275px;
    padding: 15px;
    background: rgba(4, 20, 39, 0.15);
    border-radius: 3px;
    border: 1px solid rgba(4, 20, 39, 0.15);
    margin-bottom: 22px;
    margin-right: 30px;

    &:hover {
      border: 1px solid $color-border;
    }

    &::placeholder {
      color: $color-default-white;
    }
  }

  input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0;
    margin-left: 55px;
    margin-right: 12px;
    margin-top: 23px;
  }

  input[type="checkbox"]:focus + label::before {
    border: 2px solid $color-alice-blue;
  }

  input[type="checkbox"] + label {
    font-family: "PT Mono", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    opacity: 0.8;
    width: 234px;
    margin-top: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      border: 2px solid $color-default-white;
      opacity: 0.8;
      left: -28px;
      top: 6px;
    }

    @include vp-1023 {
      margin-top: 10px;
    }

    @include vp-768 {
      margin-top: 22px;
    }
  }

  input[type="checkbox"]:checked + label {
    &::after {
      content: "";
      position: absolute;
      cursor: pointer;
      background-image: url("../img/svg/check-mark.svg");
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      opacity: 0.8;
      left: -25px;
      top: 10px;
    }
  }

  textarea {
    color: $color-default-white;
    font-family: "PT Mono", sans-serif;
    width: 580px;
    padding: 23px 15px;
    background: rgba(4, 20, 39, 0.15);
    border-radius: 3px;
    border: 1px solid rgba(4, 20, 39, 0.15);
    margin-bottom: 30px;

    &:hover {
      border: 1px solid $color-border;
    }

    &::placeholder {
      color: $color-default-white;
    }
  }

  button {
    padding: 14px 72px;
    background: $color-black-pearl;
    border-radius: 3px;
    color: $color-default-white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid $color-black-pearl;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-border;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 510px;
    height: 285px;
    background-image: url("../img/paper_airplane.png");
    background-repeat: no-repeat;
    left: -626px;
    top: 79px;
  }

  @include vp-1439 {
    margin: 0 auto;

    &::before {
      background-image: none;
    }
  }

  @include vp-1023 {
    margin: 0;
    width: 100%;

    p {
      width: 100%;
      margin-bottom: 21px;
    }

    input {
      width: 100%;
      margin-right: 0;
    }

    textarea {
      width: 100%;
      padding-top: 33px;
      padding-bottom: 14px;
      margin-bottom: 33px;
    }

    input[type="checkbox"] {
      margin: 13px 13px 0 83px;
    }
  }

  @include vp-768 {
    h3 {
      font-size: 30px;
      line-height: 140.62%;
    }

    p {
      font-size: 14px;
      line-height: 134.4%;
      margin-bottom: 35px;
    }

    input {
      width: 100%;
      margin-bottom: 21px;
    }

    textarea {
      margin-bottom: 29px;
      padding-top: 26px;
      padding-bottom: 45px;
    }

    label {
      margin-top: 20px;
    }

    input[type="checkbox"] {
      margin-left: 4px;
    }

    button {
      width: 100%;
    }
  }
}

.feedback-form__input-wrapper-left {
  @include vp-1023 {
    padding-right: 15px;
    width: 50%;
    display: flex;
  }

  @include vp-768 {
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }
}

.feedback-form__input-wrapper-right {
  @include vp-1023 {
    padding-left: 15px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  @include vp-768 {
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }
}
