.footer-social {
  margin: 0 30px 30px 0;
  padding-top: 5px;

  @include vp-1023 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 18px;
    padding-top: 0;
  }

  @include vp-768 {
    justify-content: center;
    padding-right: 6px;
    padding-top: 2px;
    margin-bottom: 36px;
  }
}

.footer-social__list {
  width: 215px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  list-style: none;

  @include vp-1023 {
    margin: 0;
    padding-top: 55px;
    width: 0;
    min-width: 168px;
    justify-content: flex-end;
  }

  @include vp-768 {
    padding: 0;
    padding-top: 8px;
    min-width: 214px;
    justify-content: center;
  }
}

.footer-social__item {
  width: 40px;
  height: 40px;
  margin: 3px 8px;

  @include vp-1023 {
    width: 35px;
    height: 35px;
    margin: 0;
    margin-left: 20px;
  }

  @include vp-768 {
    margin: 0 10px;
  }

  a {
    display: block;
  }
}

.footer-social__item-pinterest {
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/pinterest.svg");
  background-repeat: no-repeat;

  @include vp-1023 {
    width: 35px;
    height: 35px;
  }
}

.footer-social__item-ok {
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/ok.svg");

  @include vp-1023 {
    width: 35px;
    height: 35px;
  }
}

.footer-social__item-vk {
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/vk.svg");

  @include vp-1023 {
    width: 35px;
    height: 35px;
  }
}
