.footer-contacts {
  width: 315px;
  min-height: 130px;
  margin: 0 30px 30px auto;
  position: relative;
  color: $color-text-opacity;

  address {
    font-style: normal;
  }

  a {
    color: $color-text-opacity;

    &:hover {
      color: $color-deep-sky-blue;
    }
  }

  h2 {
    color: $color-default-white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  @include vp-1023 {
    width: 50%;
    margin: 0;
    padding-left: 15px;
    padding-top: 1px;
  }

  @include vp-768 {
    width: 100%;
    padding-left: 0;
    min-height: 0;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: $color-border;
      bottom: -6px;
      width: 99.8vw;
      left: -25px;
    }

    h2 {
      margin-top: 0;
      position: relative;

      &.footer-contacts__before-closed {
        &::before {
          position: absolute;
          content: "";
          width: 15px;
          height: 1px;
          background-color: $color-border;
          right: 0;
          top: 5px;
        }

        &::after {
          position: absolute;
          content: "";
          width: 1px;
          height: 15px;
          background-color: $color-border;
          right: 7px;
          top: -2px;
        }
      }

      &.footer-contacts__before-open {
        &::before {
          position: absolute;
          content: "";
          width: 15px;
          height: 1px;
          background-color: $color-border;
          right: 1px;
          top: 5px;
        }

        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          background-color: $color-border;
          right: 7px;
          top: -2px;
        }
      }
    }
  }
}

.footer-contacts__list {
  min-width: 345px;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  list-style: none;

  @include vp-768 {
    min-width: 0;
    width: 101%;
    margin-top: 18px;
    display: none;

    &.footer-contacts__list--open {
      display: block;
    }
  }
}

.footer-contacts__item {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  min-height: 30px;

  @include vp-768 {
    font-size: 14px;
    line-height: 135%;

    &:nth-child(1) {
      margin-bottom: 20px;
    }
  }
}

.footer-contacts__button {
  border: none;
  position: absolute;
  top: -17px;
  width: 100%;
  height: 50px;
  opacity: 0;
}
