.header {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  color: $color-text-white;
  min-width: 1024px;

  @include vp-1023 {
    position: static;
    min-width: 770px;
  }

  @include vp-768 {
    min-width: 320px;
  }
}

.header__wrapper {
  padding: 19px 0 13px;
  margin: 0 auto;

  @include vp-1023 {
    width: auto;
    padding: 8px 50px;
  }

  @include vp-768 {
    padding: 12px 25px;
  }
}

.header__nav {
  min-height: 79px;
  width: 1222px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0 61px 0 0;

  @include vp-1439 {
    min-width: 961px;
    width: 85vw;
  }

  @include vp-1023 {
    min-width: 269px;
    padding: 0;
    width: auto;
  }

  @include vp-768 {
    min-height: 38px;
    max-width: 768px;
    min-width: 269px;
  }
}

.header__list {
  width: 502px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1023 {
    width: 400px;
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 10px;
  }

  @include vp-768 {
    width: 224px;
  }
}

.header__item {
  min-width: 251px;
  padding-bottom: 12px;
  padding-left: 20px;

  a {
    font-family: "PT Mono", sans-serif;
    line-height: 18px;
    color: $color-text-white;
  }

  @include vp-1023 {
    min-width: auto;
    width: 41px;
    height: 40px;
    margin-left: 17px;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.header__button {
  cursor: pointer;
  min-width: 160px;
  min-height: 40px;
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: auto;
  padding: 12px 15px;
  color: $color-text-white;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  border: 1px solid $color-text-white;
  border-radius: 3px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);


  @include vp-1023 {
    display: none;
  }
}

.header__item-mail {
  position: relative;

  a {
    padding-left: 30px;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../img/svg/mail.svg");
      background-repeat: no-repeat;
      left: 14px;
      bottom: 11px;
    }
  }

  @include vp-1023 {
    a {
      span {
        display: none;
        padding-left: 0;
      }

      &::before {
        left: 0;
        bottom: 0;
        top: 3px;
      }
    }
  }

  @include vp-768 {
    left: 9px;
    top: 5px;
  }
}

.header__item-phone {
  position: relative;

  a {
    padding-left: 30px;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../img/svg/phone.svg");
      background-repeat: no-repeat;
      left: 14px;
      bottom: 11px;
    }
  }

  @include vp-1023 {
    a {
      span {
        display: none;
        padding-left: 0;
      }

      &::before {
        left: 0;
        bottom: 0;
        top: 3px;
      }
    }
  }

  @include vp-768 {
    left: 9px;
    top: 5px;
  }
}

.header__logo-desktop {
  margin-top: 12px;
  margin-bottom: auto;

  @include vp-768 {
    display: none;
  }
}

.header__logo-mobile {
  display: none;

  @include vp-768 {
    display: block;
  }
}
