.modal-feedback {
  position: absolute;
  width: 500px;
  height: 610px;
  z-index: 5;
  top: 17.5%;
  left: 36.5%;
  background-color: $color-deep-sky-blue;
  display: none;

  button {
    width: 100%;
    min-height: 45px;
    padding: 15px 25px;
    background: $color-black-pearl;
    border-radius: 3px;
    color: $color-default-white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }

  .modal-feedback__button-close {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    right: 12px;
    top: 13px;

    &:focus {
      background-color: inherit;
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    transform: rotate(45deg);
    background-color: $color-default-white;
    right: 23px;
    top: 34px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: $color-default-white;
    right: 23px;
    top: 34px;
  }

  @include vp-768 {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

.modal-feedback__form {
  padding: 40px;
  color: $color-default-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  position: relative;

  h3 {
    width: 100%;
    margin: 0;
    font-size: 30px;
    line-height: 140.62%;
    font-weight: 400;
  }

  p {
    font-family: "PT Mono", sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 39px;
    padding-right: 20px;
  }

  input {
    color: $color-default-white;
    font-family: "PT Mono", sans-serif;
    width: 100%;
    padding: 15px;
    background: rgba(4, 20, 39, 0.15);
    border-radius: 3px;
    border: none;
    margin-bottom: 21px;

    &::placeholder {
      color: $color-default-white;
    }
  }

  input[type="checkbox"] {
    opacity: 0;
    width: 15px;
    height: 15px;
    margin: 0;
    margin-left: 0;
    margin-right: 12px;
    margin-top: 15px;
  }

  input[type="checkbox"]:focus + label::before {
    border: 2px solid $color-alice-blue;
  }

  input[type="checkbox"] + label {
    font-family: "PT Mono", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    opacity: 0.8;
    width: auto;
    margin-top: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px solid $color-default-white;
      opacity: 0.8;
      left: -35px;
    }
  }

  input[type="checkbox"]:checked + label {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/svg/check-mark.svg");
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      opacity: 0.8;
      left: -32px;
      top: 4px;
    }
  }

  textarea {
    color: $color-default-white;
    font-family: "PT Mono", sans-serif;
    padding: 25px 15px;
    background: rgba(4, 20, 39, 0.15);
    border-radius: 3px;
    border: none;
    margin-bottom: 21px;

    &::placeholder {
      color: $color-default-white;
    }
  }
}
