.prewiev {
  width: 100%;
  background-color: $color-night-blue;
  min-height: 879px;
  background-image: url("../img/background-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -10%;
  margin-top: -112px;

  h1 {
    margin: 0;
  }

  @include retina {
    background-image: url("../img/background-desktop@2x.webp");
  }

  @include vp-1023 {
    min-height: 656px;
    background-size: cover;
    background-image: url("../img/background-tablet.webp");

    @include retina {
      background-image: url("../img/background-tablet@2x.webp");
    }
  }

  @include vp-768 {
    background-image: url("../img/background-mobile.webp");
    min-height: 607px;
    background-position: bottom;

    @include retina {
      background-image: url("../img/background-mobile@2x.webp");
    }
  }
}

.prewiev__main-screen {
  width: 51vw;
  padding: 239px 5px;
  margin: 0 auto;
  color: $color-alice-blue;

  h2 {
    font-weight: 700;
    font-size: 4.18vw;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 33px;
  }

  p {
    font-family: "PT Mono", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    width: 685px;
    margin-bottom: 60px;
  }

  @include vp-1023 {
    width: 100%;
    padding: 136px 50px;

    h2 {
      font-weight: 700;
      font-size: 64px;
      line-height: 94px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    p {
      width: 100%;
      margin-top: -11px;
      margin-bottom: 73px;
    }
  }

  @include vp-768 {
    padding: 124px 25px;

    h2 {
      margin-top: 75px;
      font-size: 36px;
      line-height: 42px;
    }

    p {
      font-size: 14px;
      line-height: 155%;
      margin-top: 7px;
      margin-bottom: 45px;
    }
  }
}

.prewiev__button {
  cursor: pointer;
  width: 410px;
  border: none;
  min-height: 55px;
  background: $color-deep-sky-blue;
  color: $color-alice-blue;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 17px 27px;

  &:hover {
    border: 1px solid $color-border;
  }

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-768 {
    display: inline-block;
    width: 100%;
    height: 40px;
    min-height: 40px;
    margin-left: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 36px;

    span {
      visibility: hidden;
      display: block;
    }

    ::before {
      content: "Бесплатная консультация";
      visibility: visible;
    }
  }
}
