.products {
  background-color: $color-night-blue;
}

.products__inner {
  width: 1220px;
  margin: 0 auto;
  padding: 67px 0 110px;

  @include vp-1279 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }

  @include vp-1023 {
    padding: 55px 50px 77px;
  }

  @include vp-768 {
    padding-top: 47px;
    padding-bottom: 86px;

    p {
      width: 135px;
      top: 9px;
      left: 29px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.products__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  @include vp-1279 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.products__item {
  position: relative;
  margin-right: 55px;
  margin-bottom: 30px;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
    margin-left: 0;
  }

  &:hover {
    outline: 2px solid $color-default-white;
  }

  img {
    width: 350px;
    height: 650px;
  }

  p {
    width: 170px;
    position: absolute;
    top: 29px;
    left: 40px;
    font-size: 20px;
    line-height: 30px;
    color: $color-default-white;
  }

  span {
    cursor: pointer;
    position: absolute;
    display: block;
    border: none;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    border-radius: 3px 0 0 0;
    right: 0;
    bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 7.62px;
    height: 2px;
    background-color: $color-default-white;
    right: 24px;
    bottom: 28px;
    transform: rotate(45deg);
    z-index: 1000;
  }

  &::after {
    content: "";
    position: absolute;
    width: 7.62px;
    height: 2px;
    background-color: $color-default-white;
    right: 24px;
    bottom: 22px;
    transform: rotate(-45deg);
    z-index: 1000;
  }

  @include vp-1439 {
    margin-right: 0;
  }

  @include vp-1279 {
    img {
      width: 670px;
      height: 250px;
    }
  }

  @include vp-1023 {
    margin-right: 0;
    margin-bottom: 0;

    p {
      width: 150px;
      top: 18px;
      left: 45px;
    }

    &::before {
      height: 1px;
      bottom: 31px;
    }

    &::after {
      height: 1px;
      bottom: 26px;
    }
  }

  @include vp-768 {
    margin-left: auto;
    margin-right: auto;

    img {
      min-width: 270px;
      height: 250px;
    }

    span {
      width: 40px;
      height: 40px;
    }

    &::before {
      right: 16px;
      bottom: 21px;
      width: 3.62px;
    }

    &::after {
      bottom: 19px;
      right: 16px;
      width: 3.62px;
    }
  }
}

.products__title-desktop {
  margin-top: 0;
  margin-bottom: 52px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 36px;
  }

  @include vp-768 {
    width: 365px;
    max-height: 70px;
    margin-right: 45px;
    padding-left: 0;
  }

  @include vp-768 {
    span {
      visibility: hidden;
      display: block;
      margin-bottom: 27px;
      padding-left: 0;
      font-size: 28px;
      font-weight: 400;
      line-height: 140.62%;
    }

    ::before {
      content: "Товары и услуги Smart Device";
      visibility: visible;
      margin-bottom: 27px;
      padding-left: 0;
      font-size: 28px;
      font-weight: 400;
      line-height: 140.62%;
    }
  }
}
